.gift-product-list-container {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.isSmartphoneScreen {
  justify-content: center;
}
